.header-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  align-items: center;
  flex-direction: column;
}



.home-cotainer {
  width: 100%;
  background-color: #fff;

}

.payment-container {
  width: 100%;
  height: 90%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.app-layout {
  width: 100%;
  height: 100vh;

}

.payments-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 10px;
}

.payments-list .payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.payments-list .payment:hover {
  background-color: rgb(249, 163, 163);
  cursor: pointer;
}

.payment-body img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.header-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #000;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 5px #000;
}

.nav-link {
  margin: 0 1rem;
}

.navbar-cart {
  position: relative;

}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  flex-grow: 20px;
}

.home-cotainer header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbbbbb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.573);
}


@media screen and (max-width: 768px) {
  .header-image img {
    width: 100%;
    height: 100%;

  }

}

.dist-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.cart-list {
  width: 90%;

}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.order-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.order-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.order-product {
  width: 200px;
  height: 200px;
}

.order-details-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.order-details-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-details-body-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-product img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.order:hover {
  background-color: rgb(249, 163, 163);
  cursor: pointer;
}

.dist-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.dist-card-footer .price {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-group-numbered>.list-group-item::before {
  content: none !important;
}

.cart-total span {
  font-weight: 700;
  font-size: 1.2rem;

}

.cart-list li {
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.573);

}

.cart-qty-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-qty-input * {
  margin: 0 5px;
}