.header-image {     
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  align-items: center;
  flex-direction: column;
  /* background: rgb(200, 222, 6); */
  background: linear-gradient(  #e3d61e,#dfd18d);
  z-index: 5;
}

font

.home-cotainer {
  width: 100%;
  background-color: #fff;
}

.header-text2 {
  margin: 25px;
  font-size: 40px;
}

td img {
  object-fit: contain;
}

.category-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}

.category-header h2 {
  margin: 4px;
}

.payment-container {
  width: 100%;
  height: 90%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.app-layout {
  width: 100%;
  height: 100vh;
}

.payments-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 10px;
}

.payments-list .payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.payments-list .payment:hover {
  background-color: rgb(249, 163, 163);
  cursor: pointer;
}

.payment-body img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.header-text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #000;
  z-index: 6;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 5px #000;
}

.nav-link {
  margin: 0 1rem;
  z-index: 10;
}

.navbar-cart {
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 20px;
}

@media screen and (max-width: 768px) {
  .basic-navbar-nav {
    display: flex;
  }
}

.home-cotainer header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bbbbbb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.573);
}

table {
  width: 100%;
  border-collapse: collapse;
}






.navbar-admin-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .header-image img {
    width: 100%;
    height: 100%;

  }

}

.dist-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.cart-list {
  width: 90%;

}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.order-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.order-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.order-product {
  width: 200px;
  height: 200px;
}

.order-details-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.order-details-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-details-body-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.register-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-btn button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navbar-user {
  color: #000 !important;
  font-size: large;
  font-style: italic;
}

.navbar-logout {
  cursor: pointer;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.order-product img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.order:hover {
  background-color: rgb(249, 163, 163);
  cursor: pointer;
}

.dist-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.dist-card-footer .price {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-group-numbered>.list-group-item::before {
  content: none !important;
}

.cart-total span {
  font-weight: 700;
  font-size: 1.2rem;

}

.cart-list li {
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.573);

}

.cart-qty-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-qty-input * {
  margin: 0 5px;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.product-form h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.product-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-form .form-btn {
  display: flex;
  justify-content: center;
}

.product-form .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.wave {
  position: absolute;
  top: 575px;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(./assets/wave.png);
  background-size: 1000px 100px; 
}

.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 4;
    opacity: 0.4;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: animate2 25s linear infinite;
    z-index: 3;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 0;
}

.wave.wave3 {
    animation: animate 20s linear infinite;
    z-index: 2;
    opacity: 0.1;
    animation-delay: -2s;
    bottom: 15;
}

.wave.wave4 {
    animation: animate2 8s linear infinite;
    z-index: 1;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}